<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>MVC With ANIMALS!</title>
		<link rel="stylesheet" src="/assets/css/safarianimals_style.css" type="text/css" />
        <script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/assets/"></script> --}}
	</head>
	<body>
		{{{ body }}}
	<script src="/js/animals.js"></script>
	</body>
</html>