body {
    background-image: url("https://images.pexels.com/photos/417142/pexels-photo-417142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

/* html {
    background: red;
} */

h2 {
text-shadow: rgba(255, 255, 255, 0.534);
margin-left: 5%;
}

h3 {
    margin-left: 5%;
}

.search {
background: rgba(255, 255, 255, 0.534);
width: 40%;
border-radius: 24px;
float: right;
}

.add {  
    padding-top: 1%;
    background: rgba(255, 255, 255, 0.534);
    width: 40%;
    border-radius: 24px;
    clear: left;
   
}

.seen {
    background: rgba(255, 255, 255, 0.534);
    width: 40%;
    border-radius: 24px;  
    float: left;
    margin-bottom: 30px;
}

.form-group {
    margin-left: 5%;
    margin-bottom: 3%;
}

.submitnew {
    margin-left: 5%;
    margin-block-end: 5%;
}

h1 {
    font-family: 'Dokdo', cursive;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: wheat;
    margin-top: 1px;
    margin-bottom: -30px;
}

.h2 {
    font-family: 'Dokdo', cursive;
    color: wheat;
text-align: center;
}